.profile-box {
    padding: 20px 14px;
    border-radius: 6px;
}


.sky-blue-box {
    background-color: #E7F0FA;
}

.sky-red-box {
    background-color: #FFF6E6;
}

.sky-green-box {
    background-color: #E7F6EA;
}

.edit-profile-bar{
    background-color: #FF1717;
}
