
/* Default mobile settings */
.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    /* Hidden by default on mobile */
    z-index: 1000;
    box-shadow: 0px 0px 10px 2px rgb(228, 228, 228);
    transition: all 0.3s;
    width: 100%;
    background-color: #ffffff;
    overflow-y: auto;
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;

    .sidebar-profile_image {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sidebar-profile_image img {
        width: 150px;
        height: 150px;
        clip-path: circle();
    }

    .nav {
        .nav-item {

            .nav-link {
                font-size: 1.1rem;
                color: rgb(49, 49, 49);

                &.active {
                    background: rgba(82, 142, 255, .3);
                    color: #3060ff;
                }

                &:hover {
                    background: rgba(82, 142, 255, .3);
                    color: #3060ff;
                }
            }
        }
    }




}

/* Sidebar active state (visible on mobile) */
.sidebar-active {
    left: 0;
}

/* Desktop settings */
@media (min-width: 769px) {
    .sidebar {
        left: 0;
        /* Always visible on desktop */
        width: 300px;
        /* Fixed width for desktop */
    }

    .content {
        margin-left: 300px;
        transition: all 0.3s;
    }
}


